body {
	color: black;
}

#bm:hover {
	color: #C0CCC7
}

.fkj {
	cursor: grab
}

body {
	background-color: #013208
}

#bm {
	text-align: center;
}

.fkj {
	text-align: center;
}

#g {
	color: #60726C
}

#jkl {
margin-left: 100px; 
}
