body {
	color: white;
}

#bm:hover {
	color: #C0CCC7;
}

.fkj {
	cursor: grab;
}

body {
	background-color: black;
}

#bm {
	text-align: center;
}

.fkj {
	text-align: center;
}

#g {
	color: #60726C;
}

#jk {
	vertical-align: 90px; 
}

#g p:hover {
	color: white;
}

#v {
	text-align: center;
}

.topor {
	vertical-align: 90px;

}

.topor:hover {
	color: #60C9B3;
}
